{{ 'chef_knife_style.css' | asset_url | stylesheet_tag }}
<!-- Banner -->
    <section class="mainBanner">
        <div class="container">
            <div class="bannerFlexBox">
                <div class="bannerTxtColumn">
                    <div class="TxtBlock">
                        <div class="subHeading">
                            <p>Executive</p>
                        </div>
                        <h1>Chef Knife Exclusive</h1>
                        <p>Japanese VG Stainless Steel Knife Sets Gold Standard for your Kitchen</p>
<!--                         <a href="/products/executive-chef-knife-exclusive" class="mainThemeBtn">Buy Now</a> -->
                         <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife" class="mainThemeBtn">Buy Now</a>
                      
                    </div>
                </div>
                <div class="bannerImgColumn">
                    <img src="{{ 'newBanner2.png' | asset_url }}" alt="">
                </div>
            </div>
        </div>
        <div class="scrollBtn">
            <a href="#someFeature">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.786 18.765">
                    <path id="Path_9" data-name="Path 9" d="M6.75,14.225l5.988,4.79,5.988-4.79m-5.988,4.79V2.25" transform="translate(-5.344 -1.25)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </svg>                  
            </a>
        </div>
    </section>

                       <!-- 6 in. chef knife -->
    <section class="chefKnife">
        <div class="container">
          <div class="chefKnifeTxt">
              <div class="sectionTitle">
                  <h2>Cuso Cuts Stainless Steel Executive Chef Knife</h2>
                  <span class="lineBar"></span>
              </div>
              <p>While it’s tempting to stand and just admire the knife for its beauty and craftsmanship, once you start using it, there’s another level of appreciation: consistency and accuracy. Chef Knives should bring both these attributes to any culinary effort, and our Executive Chef Knife outshines other brands. It is sturdy, corrosion-resistant, and a true work of art.</p>
              <div class="specificationsList">
                  <h4>Executive Knife Specifications:</h4>
                  <ul>
                      <li>Custom Made VG10 Damascus Steel Knife Blade</li>
                      <li>G10 Resin Handle Scale</li>
                      <li>Blade Length 8 Inches</li>
                      <li>Handle Length 5 Inches</li>
                      <li>Handmade</li>
                  </ul>
              </div>
              <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife" class="mainThemeBtn">Make Better Cuts</a>
          </div>
        </div>
        <div class="sectionVideoBlock">
            <img src="{{ 'videoThumb.jpg' | asset_url }}" alt="">
            <a href="#.">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="39" viewBox="0 0 34 39">
                    <path id="Polygon_1" data-name="Polygon 1" d="M19.5,0,39,34H0Z" transform="translate(34) rotate(90)" fill="#fff"/>
                </svg>                  
            </a>
        </div>
    </section>
                      
    <!-- Some Feature of Knife -->
    <section class="someFeature" id="someFeature">
        <div class="container">
            <div class="sectionTitle">
                <h2>Exclusive Features</h2>
                <span class="lineBar"></span>
                <p>Have you caught the barbecue bug? Do you love making impressive meals for family and friends? Then you’re probably looking for a treasure - the best cutlery suited to various cooking methods. Cuso’s Executive Chef Knife is the answer to your quest.</p>
            </div>
            <div class="knifeFeatureRow">
                <div class="knifeFeatureCol">
                    <div class="knifeFeatureList">
                        <h3>Sharp Edges:</h3>
                        <p>Cuso’s Executive Knife comes perfectly sharpened and ready to go to work for you. The blade maintains its edge easily using a sharpening stone.</p>
                    </div>
                    <div class="knifeFeatureList">
                        <h3>Precision Handling:</h3>
                        <p>A perfect knife gives you precision handling that makes your food look fit for a feast. Cuso’s Executive Knife has the right weight and comfortable handle, so you can slice and dice to perfection.</p>
                    </div>
                    <div class="knifeFeatureList mBottomScreen">
                        <h3>Commercial Purpose:</h3>
                        <p>If you, a loved one, or a friend works in the food industry, our Executive Knife makes a great addition to their personal cutlery. Chefs are picky about their utensils, and this product will become a treasure. It’s both fire and heat-resistant.</p>
                    </div>
                </div>
                <div class="knifeFeatureImg">
                    <img src="{{ 'knifeImg2.png' | asset_url }}" alt="">
                </div>
                <div class="knifeFeatureCol" style="text-align: right;">
                    <div class="knifeFeatureList">
                        <h3>Resin Handle:</h3>
                        <p>The Cuso Executive Chef Knife has a composite handle popular in knife making. It’s lightweight (easy on the hands), with an unrivaled comfortable grip.</p>
                    </div>
                    
                  <div class="knifeFeatureList">
                        <h3>Stainless Steel:</h3>
                        <p>Stainless steel has an elegant appearance. It’s bright yet wholly functional. With our Executive Knife, you get a blade with longevity, impact resistance, and durability. Professional kitchens almost exclusively use stainless for these reasons, plus they are incredibly hygienic. Dotted Sharpness? I have no idea what this means.</p>
                    </div>
                </div>
            </div>
            <div class="knifeFeatureBtn">
                <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife" class="mainThemeBtn">Get This Exclusive Knife</a>
            </div>
        </div>
    </section>

   

    <!-- CUSO CUTS STAINLESS STEEL 6'' in CHEF KNIFE -->
    <section class="stainlessBlock">
        <div class="container">
            <div class="stainlessRow">
                <div class="stainlessImgCol">
                    <div class="imgBorderLayer"></div>
                    <div class="mainImgBlock">
                        <img src="{{ 'stainlessImg.png' | asset_url }}" alt="">
                    </div>
                    <div class="imgFillLayer"></div>
                </div>
                <div class="stainlessTxtCol">
                    <div class="chefKnifeTxt">
                        <div class="sectionTitle">
                            <h2>A Cut Above</h2>
                            <span class="lineBar"></span>
                        </div>
                        <p>Upgrade your culinary experience with our Executive Chef Knife. Handcrafted with VG10 Damascus steel for superior durability and corrosion resistance, this knife is a true work of art with its intricate pattern and beautiful G10 resin handle that ensures a secure grip.</p>
                        <p>The 8-inch blade allows for precise cuts and allows you to effortlessly slice through any ingredient in your kitchen. Impress your friends and family with your culinary skills and upgrade your kitchen with our Executive Chef Knife.</p>
<!--                         <div class="specificationsList">
                            <h4>Lorem ipsum dolor:</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit</li>
                                <li>amet, consectetur adipiscing</li>
                                <li>elit. Donec tincidunt</li>
                                <li>magna sed ligula tincidunt</li>
                                <li>molestie. Integer auctor ut augue eu placerat.</li>
                            </ul>
                        </div> -->
                        <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife" class="mainThemeBtn">Buy This Knife</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Gallery -->
    <section class="productGallery">
        <div class="container">
            <div class="sectionTitle">
                <h2>Product Gallery</h2>
                <span class="lineBar"></span>
            </div>
            <div class="galleryItemRow">
                <div class="galleryItem">
                    <div class="productGalleryImg">
                        <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife">
                            <img src="{{ 'galleryImg1.jpg' | asset_url }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="galleryItem">
                    <div class="productGalleryImg">
                        <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife">
                            <img src="{{ 'galleryImg2.jpg' | asset_url }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="galleryItem">
                    <div class="productGalleryImg">
                        <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife">
                            <img src="{{ 'galleryImg3.jpg' | asset_url }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="galleryItem">
                    <div class="productGalleryImg">
                        <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife">
                            <img src="{{ 'galleryImg4.png' | asset_url }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
<!--             <div class="knifeFeatureBtn">
                <a href="/products/cuso-cuts-executive-damascus-steel-chef-knife" class="mainThemeBtn">BUY THIS PRODUCT</a>
            </div> -->
        </div>
    </section>

    <div class="mainPopupblock">
      <div class="popupBlacklayer"></div>
      <div class="popupWhiteBox">
        <button>
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
        </button>
        <iframe src="https://www.youtube.com/embed/xnVfyh-UMto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Our Promise -->
<!--     <section class="ourPromise">
        <div class="container">
            <div class="promiseGrayBox">
                <div class="promiseRow">
                    <div class="promiseColumn">
                        <div class="promiseIcon">
                            <img src="{{ 'shake-hands.svg' | asset_url }}" alt="">
                        </div>
                        <div class="promiseTxt">
                            <h4>Our Promise</h4>
                            <p>Deliver quality products consistently 
                                with amazing customer service.</p>
                        </div>
                    </div>
                    <div class="promiseColumn">
                        <div class="promiseIcon">
                            <img src="{{ 'credit-card-pay.svg' | asset_url }}" alt="">
                        </div>
                        <div class="promiseTxt">
                            <h4>Installments</h4>
                            <p>Deliver quality products consistently 
                                with amazing customer service.</p>
                        </div>
                    </div>
                    <div class="promiseColumn">
                        <div class="promiseIcon">
                            <img src="{{ 'delivery.svg' | asset_url }}" alt="">
                        </div>
                        <div class="promiseTxt">
                            <h4>Fast Delivery</h4>
                            <p>Deliver quality products consistently 
                                with amazing customer service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <script>
    
      document.querySelector(".sectionVideoBlock a").addEventListener('click' , (e)=>{
          document.querySelector("body").classList.add("showVideo");
      })
      document.querySelector(".popupWhiteBox button").addEventListener('click' , (e)=>{
          document.querySelector("body").classList.remove("showVideo");
      })
      document.querySelector(".popupBlacklayer").addEventListener('click' , (e)=>{
          document.querySelector("body").classList.remove("showVideo");
      })
    </script>